---
layout: default
title: Meow and Grrr of a Stray Cat
mnav: posts
---
<div class="hp-pg-index">
  <h1 class="hp-pg_head">Posts</h1>
  <div class="hp-stream">
    {% for post in paginator.posts %}
    <article>{{ post.content | summarize:post.url, site.baseurl }}</article>
    {% else %}
      {% for post in site.posts %}
    <article>{{ post.content | summarize:post.url, site.baseurl }}</article>
      {% endfor %}
    {% endfor %}
  </div>
  
  {% if paginator %}
  <nav class="hp-pgn pagination pagination-centered">
    <ul>
    {% for page in (1..paginator.total_pages) %}      
      {% capture lntxt %}
        {% if page == paginator.previous_page %}&laquo;{% endif %}
        {{ page }}
        {% if page == paginator.next_page %}&raquo;{% endif %}
      {% endcapture %}
      {% capture href %}{{ site.baseurl }}/{% if 1 != page %}page{{ page }}/{% endif %}{% endcapture %}
      {% capture cls %}
        hp-li
        {% if page == paginator.previous_page %}hp-p{% endif %}
        {% if page == paginator.page %}hp-c{% endif %}
        {% if page == paginator.next_page %}hp-n{% endif %}
      {% endcapture %}
      <li {% if page == paginator.page %}class="active"{% endif %}><a class="{{ cls }}" href="{{ href }}">{{ lntxt }}</a></li>      
    {% endfor %}
    </ul>
  </nav>
  {% endif %}
</div>